#preview{
    margin-top: 10px;
    border:1px solid black;
    width:350px;
    height:500px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
#samples{
    text-align: center;
}
#samples img {
    margin: 10px;
    display: block;
    border: 2px solid #6A6462;
}
#samples img:hover {
    cursor: zoom-in;
    border: 0;
    -moz-box-shadow:2px 2px 7px 2px rgba(130,130,130,1),-1px -1px 7px 2px rgba(130,130,130,1);
    -webkit-box-shadow: 2px 2px 7px 2px rgba(130,130,130,.7),-1px -1px 7px 2px rgba(130,130,130,1);
    box-shadow: 2px 2px 7px 2px rgba(130,130,130,.7),-2px -2px 7px 2px rgba(130,130,130,1);
}
@media screen and (max-width: 767px){
    #samples img {
        display: inline-block;
    }
}
